apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: bookshop
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/oves-ahmed/bookshop-java-app.git
    targetRevision: main
    path: k8s
  destination:
    server: https://kubernetes.default.svc
    namespace: bookshop
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
    - CreateNamespace=true
