name: CI Pipeline - Build & Push Docker

on:
  push:
    branches:
      - main

env:
  DOCKER_IMAGE: ${{ secrets.DOCKER_USERNAME }}/spring-app
  DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}    
  DOCKER_PASSWORD: ${{ secrets. DOCKER_PASSWORD }}

jobs:
  build_and_push:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven

    - name: Build with maven
      run: |
        mvn clean package

    - name: Setup Docker Buildx
      uses: docker/setup-buildx-action@v3
      
    - name: Login Docker hub
      uses: docker/login-action@v3
      with:
        username: ${{ env.DOCKER_USERNAME }}
        password: ${{ env.DOCKER_PASSWORD }}

    - name: Build and Push Docker image
      uses: docker/build-push-action@v5
      with:
        context: .
        push: true
        tags: |
          ${{ env.DOCKER_IMAGE }}:v2
          ${{ env.DOCKER_IMAGE }}:${{ github.sha }}
        cache-from: type=gha
        cache-to: type=gha,mode=max  
       